
@{
    ViewBag.Title = "Sold Products";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Sold Products</h3>
            <p class="text-muted m-b-30">
            </p>
            <div class="table-responsive">
                <table id="soldTable">
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/Css/appStyle.css" rel="stylesheet" />
  
    <script type="text/javascript">
        $(document).ready(function () {
            Solds();
        });
    </script>

    <script>
        //Sales Product
        function Solds() {
            $('#soldTable').html("");
            var thead = '<thead><tr><th>Brand</th><th>Name</th><th>Piece</th><th>Buying Price</th><th>Kdv</th><th>Sales Price</th><th>Total</th></tr></thead>';
            $('#soldTable').append(thead);
            $.getJSON('/Product/SoldProductsList', function (data) {
                for (var item in data.Result) {
                    var user = '<tr><td>' + data.Result[item].Brand + '</td><td>' + data.Result[item].Name + '</td><td>' + data.Result[item].Piece + '</td><td>' + data.Result[item].BuyingPrice + ' TL</td><td>% ' + data.Result[item].Kdv + '</td><td>' + data.Result[item].SalesPrice + ' TL</td><td>' + data.Result[item].Total + ' TL</td></tr>';
                    $('table#soldTable').append(user);
                }
            });
        };
    </script>

    <style>
        th {
            color: #fff !important;
            background-color: #03a9f3 !important;
        }

        th, td {
            padding: 7px !important;
            font-weight: bold !important;
            text-align: center !important;
        }
    </style>
}