
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link rel="icon" type="image/png" sizes="16x16" href="~/Content/Icons/favicon.png">
        <img src="~/Content/Icons/favicon.png" />*@
    <title>Login - Stock</title>
    <!-- Bootstrap Core CSS -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- animation CSS -->
    <link href="~/Content/Css/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="~/Content/Css/blue.css" rel="stylesheet" />
    <!-- Sweet Alert -->
    <link href="~/Content/Css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/Css/sweetalert2.css" rel="stylesheet" />
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <section id="wrapper" class="login-register" style="background-color:#b2b1b1 !important">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="loginform" method="post">
                    <h3 class="box-title m-b-20">LogIn</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input id="userNameTxt" class="form-control" type="text" required="" placeholder="User Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input id="passwordTxt" class="form-control" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox" name="selectedd">
                                <label for="checkbox-signup"> Remember Me </label>
                            </div>
                            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Did you forget your password?</a>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button id="loginBtn" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="button">LogIn</button>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" id="recoverform" method="post">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Şifre kurtarma</h3>
                            <p class="text-muted">New Password will be sent to your email!</p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Scripts/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Scripts/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/custom.js"></script>
    <!--Style Switcher -->
    <script src="~/Scripts/jQuery.style.switcher.js"></script>
    <!-- Sweet Alert -->
    <script src="~/Scripts/sweetalert2.min.js"></script>

    <script>
        $("#loginBtn").click(function () {
            var input = {
                userName: $("#userNameTxt").val().trim(),
                password: $("#passwordTxt").val().trim(),
                rememberMe: false
            };
            if ($("input[name='selectedd']").is(':checked')) {
                input.hatirla = true;
            }
            $.ajax({
                type: 'POST',
                url: '/Login/Login',
                data: JSON.stringify(input),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    if (result == "1")
                        window.location.href = '/Customer/Index';
                    else if (result == "0")
                        swal("Error!", "Login failed!", "error");
                },
                error: function () {
                    swal("Error!", "Login failed!", "error");
                }
            });
        });
    </script>


</body>
</html>

