
@{
    ViewBag.Title = "Personal Add";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <form id="veri" method="post">
                        <div class="form-body">
                            <h3 class="box-title">Personal Add</h3>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6 ol-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input type="text" name="Name" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Surname</label>
                                        <input type="text" name="Surname" class="form-control" placeholder="Surname">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Phone</label>
                                        <input type="text" name="Phone" class="form-control" placeholder="0(999) 999-9999" maxlength="11">
                                    </div>
                                </div>
                                <div class="col-sm-6 ol-md-6 col-xs-12">
                                    <div class="white-box" style="padding-top:0px !important">
                                        <h3 style="margin-bottom:9px !important" class="box-title">Upload Photo</h3>
                                        <input type="file" name="Image" id="input-file-now-custom-1" class="dropify" data-default-file="/Content/Images/default.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input type="text" name="Address" class="form-control" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Salary</label>
                                <input type="number" name="Salary" class="form-control" placeholder="Salary">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <a href="@Url.Action("Index","Personal")" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/mask.js"></script>
    <link href="~/Content/Css/dropify.min.css" rel="stylesheet" />
    <script src="~/Scripts/dropify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Basic
            $('.dropify').dropify();
        });
    </script>
    <script>
        //Personal Image Add
        $("#input-file-now-custom-1").change(function () {
            var veri = new FormData();
            var resim = $(this).get(0).files;
            if (resim.length > 0) {
                veri.append("prsnlImage", resim[0]);
            }
            $.ajax({
                type: "POST",
                url: "/Personal/ImageAdd",
                data: veri,
                cashe: false,
                contentType: false,
                processData: false,
                success: function (gelenDeg) {
                    if (gelenDeg == "2") {
                        swal("Hata!", "Aynı ad'a sahip bir dosya zaten var!", "error");
                    }
                },
                error: function (gelenDeg) {
                    if (gelenDeg == "0") {
                        swal("Hata!", "Resim eklenirken hata oluştu!", "error");
                    }
                }
            });
        });

        //Personal Add
        $("#veri").on("submit", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: '/Personal/Add',
                data: $(this).serialize(),
                dataType: "json",
                success: function (result) {
                    if (result == "1") {
                        swal("Added", "Personal Added Successfully!", "success");
                        setTimeout('direct()', 2000)
                    }
                    else
                        swal("Error", "An error occurred!", "error");
                },
                error: function () {
                    swal("Error", "An error occurred!", "error");
                }
            });
        });

        //Personal Page Direct
        function direct() {
            location.href = '/Personal/Index';
        }
    </script>
}