@{
    ViewBag.Title = "Brand";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Brands</h3>
            <p class="text-muted m-b-30">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-5">
                        <button id="deleteBtn" class="btn btn-block btn-info">Delete</button>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-5">
                        <a href="@Url.Action("Add","Brand")" class="btn btn-block btn-info">Add</a>
                    </div>
                </div>
            </p>
            <div class="table-responsive">
                <table id="brandTable"></table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/Css/appStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            Urunler();
        });
    </script>
    <script>
        //Brand List
        function Urunler() {
            var url = '/Brand/BrandList';
            $('#brandTable').html("");
            var thead = '<thead><tr><th>Select</th><th>Name</th><th>Edit</th></tr></thead>';
            $('#brandTable').append(thead);
            $.getJSON(url, function (data) {
                for (var item in data.Result) {
                    var checkbox = '<input type="checkbox" name="selectedd" value=' + data.Result[item].Id + ' />';
                    var button = '<button id="edit_btn" value="' + data.Result[item].Id + '" class="btn btn-block btn-info">Edit</button>';
                    var user = '<tbody><tr><td>' + checkbox + '</td><td>' + data.Result[item].Name + '</td><td>' + button + '</td></tr></tbody>';
                    $('#brandTable').append(user);
                }
            });
        };


        function direct() {
            location.href = '/Brand/List';
        }

        //Brand Delete
        $("#deleteBtn").click(function () {
            var data = [];
            var sayac = 0;
            $("input[name='selectedd']:checked").each(function () {
                data[sayac] = $(this).val();
                sayac++;
            });
            swal({
                title: "Deleting..",
                text: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Delete",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }).then(function () {
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '/Brand/Delete',
                        data: { data },
                        dataType: "json",
                        success: function (result) {
                            if (result == "1") {
                                swal("Deleted", "Brand Delete Successfuly!", "success");
                                Urunler();
                            }
                            else if (result == "2") {
                                swal("Error!", "An error occurred!", "error");
                            }
                        },
                        error: function () {
                            swal("Error!", "An error occurred!", "error");
                        }
                    });
                });
            })
        });

        //Edit Button Onclick
        $(document).on("click", "#edit_btn", function () {
            window.location.href = "/Brand/Edit/" + $(this).val();
        });
    </script>
}