
@{
    ViewBag.Title = "Admin Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Admin Page</h3>
            <p class="text-muted m-b-30">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-5">
                        <button id="deleteBtn" class="btn btn-block btn-info">Delete</button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-7">
                        <a href="@Url.Action("UserAdd","Admin")" class="btn btn-block btn-info">User Add</a>
                    </div>
                </div>
            </p>
            <div class="table-responsive">
                <table id="adminTable"></table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/Css/appStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            Users();
        });
    </script>
    <script>
        //User List
        function Users() {
            var url = '/Admin/List';
            $('#adminTable').html("");
            var thead = '<thead><tr><th>Select</th><th>Image</th><th>Name Surname</th><th>UserName</th><th>Authority</th></tr></thead>';
            $('#adminTable').append(thead);
            $.getJSON(url, function (data) {
                for (var item in data.Result) {
                    var checkbox = '<input type="checkbox" name="selectedd" value=' + data.Result[item].Id + ' />';
                    var authority = '<button id="authority" value="' + data.Result[item].Id + '" class="btn btn-block btn-danger">' + data.Result[item].Authority + '</button>';
                    var user = '<tbody><tr><td>' + checkbox + '</td><td width="50" height="50""><img style="width:100%; height:auto;" src="' + data.Result[item].Image + '" alt="" /></td><td>' + data.Result[item].Name + ' ' + data.Result[item].Surname + '</td><td>' + data.Result[item].UserName + '</td><td>' + authority + '</td></tr></tbody>';
                    $('#adminTable').append(user);
                }
            });
        };

        //Admin page redirect
        function redirect() {
            location.href = '/Admin/Index';
        }

        //User Delete
        $("#deleteBtn").click(function () {
            var data = [];
            var sayac = 0;
            $("input[name='selectedd']:checked").each(function () {
                data[sayac] = $(this).val();
                sayac++;
            });
            swal({
                title: 'Delete?',
                text: "Are you sure?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete'
            }).then(function () {
                $.ajax({
                    type: "POST",
                    url: '/Admin/Delete',
                    data: { data },
                    dataType: "json",
                    success: function (result) {
                        if (result == "1") {
                            swal("Deleted", "User Delete Successfuly!", "success");
                            Users();
                        }
                        else if (result == "2") {
                            swal("Error!", "An error occurred!", "error");
                        }
                    },
                    error: function () {
                        swal("Error!", "An error occurred!", "error");
                    }
                });
            })
        });

        //User edit (Authority)
        $(document).on("click", "#authority", function () {
            var userID = $(this).val();
            swal({
                title: 'Authorities',
                input: 'select',
                inputOptions: {
                    'Personal': 'Personal',
                    'Admin': 'Admin'
                },
                inputPlaceholder: 'Authority - Select',
                inputStyle:'control-label',
                showCancelButton: true
            }).then(function (result) {
                $.ajax({
                    type: "POST",
                    url: '/Admin/Edit',
                    data: { authorityName: result, userId: userID },
                    dataType: "json",
                    success: function (resultt) {
                        if (resultt == "1") {
                            swal("Updated", "Update is susccessfuly!", "success");
                            Users();
                        }
                        else if (resultt == "0")
                            swal("Error!", "An error occured!", "error");
                    },
                    error: function () {
                        swal("Error!", "An error occured!", "error");
                    }
                });
            })
        });

    </script>

}

