@{
    ViewBag.Title = "User Add";
}
@model List<Stock.Data.Personal>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <form id="formUserAdd" method="post">
                        <div class="form-body">
                            <h3 class="box-title">User Add</h3>
                            <hr>
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label">Name Surname</label>
                                    <select name="PersonalId" class="form-control select2">
                                        <option>Personal - Select</option>
                                        @foreach (var prsnl in Model)
                                        {
                                            <option value="@prsnl.Id">@prsnl.Name @prsnl.Surname</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">User Name</label>
                                    <input type="text" name="UserName" class="form-control" placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" name="Password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Password Again</label>
                                    <input type="password" name="repeatPassword" class="form-control" placeholder="Password Again">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <a href="@Url.Action("Index","Admin")" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/mask.js"></script>
    <script>
        //Admin Index Pages Redirect
        function redirect() {
            location.href = '/Admin/Index';
        }

        //User Add Pages
        $("#formUserAdd").on("submit", function (event) {
            event.preventDefault();
            var repeatPassword = $("input[name='repeatPassword']").val();
            $.ajax({
                type: "POST",
                url: '/Admin/UserAdd',
                data: $(this).serialize(),
                dataType: "json",
                success: function (result) {
                    if (result == "1") {
                        swal("Added", "User Added Successfuly!", "success");
                        setTimeout('redirect()', 2000)
                    }
                    else if (result == "2") {
                        swal("Error", "Fill in the Required Fields!", "error");
                    }
                    else if (result == "CurrentRecord") {
                        swal("Error", "Current Record!", "error");
                    }
                    else if (result == "DifferentPassword") {
                        swal("Error", "Different Password Error!", "error");
                    }
                },
                error: function () {
                    swal("Error", "An error occurred!", "error");
                }
            });
        });
    </script>
}