@model Stock.UI.Models.Customer.AddViewModel
@{
    ViewBag.Title = "Customer Add";
}

<h1>add</h1>
@section scripts{


    <script>

        $(document).ready(function () {
            alert("sdaad");

            swal("Here's a message!")

        });


    </script>
}